<!doctype html>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/GIDI.css') }}">

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"> </script>
<script src="{{ url_for('static', filename='jquery-2.2.4.min.js') }}"> </script>
<title>GIDI</title>

<div class="container" role="main" id="main">

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            {% if not session.connexion %}
                <ul class="nav navbar-nav navbar-left">
                    <a class="navbar-brand" href="{{ url_for('home') }}">Gestion et Indexation des Données Incertaines</a>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-left">
                    <a class="navbar-brand" href="{{ url_for('home') }}">GIDI</a>
                </ul>
                <ul class="nav navbar-nav">

                {% if active == "index_local" %}
                    <li id="index_local" class="active">
                {% else %}
                    <li id="index_local" class="">
                {% endif %}
                        <a href="{{ url_for('index_local') }}"> Creation IL </a>
                    </li>

                {% if active == "index_global" %}
                    <li id="index_global" class="active">
                {% else %}
                    <li id="index_global" class="">
                {% endif %}
                        <a href="{{ url_for('index_global') }}"> Creation IG </a>
                    </li>

                {% if active == "threshold" %}
                    <li id="threshold" class="active">
                {% else %}
                    <li id="threshold" class="">
                {% endif %}
                        <a href="{{ url_for('threshold') }}"> Threshold </a>
                    </li>

                {% if active == "top_k" %}
                    <li id="top_k" class="active">
                {% else %}
                    <li id="top_k" class="">
                {% endif %}
                        <a href="{{ url_for('top_k') }}"> Top K </a>
                    </li>

                {% if active == "index_global_MD" %}
                    <li id="index_global_MD" class="active">
                {% else %}
                    <li id="index_global_MD" class="">
                {% endif %}
                        <a href="{{ url_for('index_global_MD') }}"> Creation IGMD</a>
                    </li>

                {% if active == "top_k_MD" %}
                    <li id="top_k_MD" class="active">
                {% else %}
                    <li id="top_k_MD" class="">
                {% endif %}
                        <a href="{{ url_for('top_k_MD') }}"> Top K MD </a>
                    </li>

                {% if active == "index_global_matrix" %}
                    <li id="index_global_matrix" class="active">
                {% else %}
                    <li id="index_global_matrix" class="">
                {% endif %}
                        <a href="{{ url_for('index_global_matrix') }}"> Creation IG Matrix </a>
                    </li>

                {% if active == "top_k_matrix" %}
                    <li id="top_k_matrix" class="active">
                {% else %}
                    <li id="top_k_matrix" class="">
                {% endif %}
                        <a href="{{ url_for('top_k_matrix') }}"> Top K Matrix</a>
                    </li>

                </ul>
            {% endif %}

            <ul class="nav navbar-nav navbar-right">
                {% if not session.connexion %}
                    <a  href="{{ url_for('db_connect') }}">
                        <button id="btn_connect"  type="button" class="btn btn-lg btn-gidi">
                            log in
                        </button>
                    </a>
                {% else %}
                    <a href="{{ url_for('db_disconnect') }}">
                        <button id="btn_disconnect" type="button" class="btn btn-lg btn-gidi" >
                            log out
                        </button>
                    </a>
                {% endif %}
            </ul>

        </div>
    </nav>


    {% block container %}
    {% endblock %}

</div>

